pyrogram
wget
python3-dev
aiohttp
yt-dlp
​ffmpeg
clang
gcc
python-dotenv
tgcrypto
libpq-dev
​SQLAlchemy
​httplib2
​pySmartDL
​tenacity
​html5lib
​lk21
​beautifulsoup4
​lxml
telethon
python-telegram-bot
​psycopg2-binary
