pyrogram
wget
python3-dev
aiohttp
yt-dlp
-e git+git://github.com/ytdl-org/youtube-dl.git
-e git+git://github.com/sqlalchemy/sqlalchemy.git
clang
gcc
python-dotenv
TgCrypto
libpq-dev
​-e git+git://github.com/httplib2/httplib2.git
​pySmartDL
​tenacity
​html5lib
​lk21
​beautifulsoup4
​lxml
hachoir
pillow
telethon
python-telegram-bot
​psycopg2-binary
